<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.enable_lazy_load_no_trans">true</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/vivienda?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">Punknotdead123.</property>
    <property name="hibernate.temp.use_jdbc_metadata_defaults">false</property>
    <!--<property name="hibernate.hbm2ddl.auto">update</property>-->
    <property name="hibernate.c3p0.min_size">3</property>
    <property name="hibernate.c3p0.max_size">5</property>
    <property name="hibernate.c3p0.timeout">100</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">120</property>
    <!---->
    <mapping resource="entities/persistence/entities/Historialmonto.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Gastoscomunes.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Tipoduracion.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Unidad.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Trabajo.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Configuracion.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Monto.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Convenio.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Concepto.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Historialtrabajo.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Reglabonificacion.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Listaprecios.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Urgencia.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Material.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Grupo.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Estado.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Otrosgastos.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Usuario.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Tipousuario.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Tecnico.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Cuotaconvenio.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Trabajoxmaterial.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Permisosusuario.hbm.xml"/>
    <mapping resource="entities/persistence/entities/Audit.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
